/* @import url() */

.JP-Header-About {
    display: flex;
    max-height: 130px;
    width: 100vw;
}

.header-links {
    display: flex;
    flex-direction: row-reverse;
}

.JP-Header-Logo {
    height: 130px;
    width: 130px;
}

body {
    background-image:;
}

.NAV-Title {
    display:flex;
    justify-content: center;
    font-size: 3em;
}

.NAV-Map-Image {
    width: 1025px;
    height: 250px;

}
img[src^="stands/MainImg/"] {
    width: 380px;
    height: 250px;

}
.MoreInfo {
    font-size: 3em;
    color:rgb(255, 255, 255);
    background-color: rgb(13, 78, 0);
    border:5px solid;
    border-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-size: 4em;
}

p {
    font-size: 2em;
}

img[src*="Backward"] {
    width:60px;
    height:60px;
}

.NAV-Stand-Image {
    width: 380px;
    height: 250px;
}

.Map-Image {
    width:700px;
    height:660px;
}

.Menu {
    width:400px;
    height:690px;
}

.Stand-Image {
    width:800px;
    height:690px;
}

.Cart-Image {
    width:100px;
    height:100px;
}

.Description {
    background-color:;
}