/* @import url() */

body {
    background-image: url(../Background.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    color: white;
}

/* Main Nav Page*/

h1 {
    font-size: 4em;
}

.NAV-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

.map-link {
    display: flex;
    justify-content: center;
}

.NAV-Map-Image {
    width: auto;
    height: 500px;
}

img[src^="stands/MainImg/"] {
    width: 400px;
    height: auto;
}

.MoreInfo {
    font-size: 2em;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 78, 0);
    border: 5px solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 2em;
}

img[src*=".png"]:not(.JP-Header-Logo) {
    border: 10px solid darkgray;
}

.NAV-Map-Section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.NAV-Stand-Main {
    display: flex;
    flex-wrap: wrap;
    width: 880px;
    height: 1400px;
    justify-content: space-between;
    align-content: space-between;
    margin: auto;
    padding: 10px;
}

.NAV-Stand-Section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 430px;
    height: 530px;
}

.Description {
    background-color: darkgray;
    width: 650px;
    height: 480px;
    border: 2px solid black;
    padding-left: 13px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.NAV-Map-Description {
    background-color: darkgray;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 550px;
    height: 480px;
}

/* Concession Stands Pages*/

.Menu {
    width: 400px;
    height: 690px;
}

.Cart-Image {
    width: 100px;
    height: 100px;
}

img[src*="Backward"] {
    width: 80px;
    height: 80px;
}

.Stand-Title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Image-Stand-Section {
    display: flex;
    justify-content: center;
}

img[src$=".svg"] {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    filter: invert(1);
}

.Stand-Image {
    width: auto;
    height: 690px;
}

.Stand-Description {
    width: 100vw;
    height: 15vw;
    display: flex;
    justify-content: center;
}

.Stand-Text {
    background-color: darkgray;
    border: 2px solid black;
    display: flex;
    width: 1350px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Map Page*/

.Map-Section {
    display: flex;
}

.Map-Text {
    background-color: darkgray;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height:660px;
}

.Map-Image {
    width:auto;
    height:660px;
}

/* Cart Menu*/



/* Mobile Pages*/

@media only screen and (max-width:640px)
 /* and (min-device-pixel-ratio: 1.5) */
 {

    body {
        background-image: url(../Background.jpg);
        background-repeat: repeat-y;
        background-size: 400%;
        color: white;
    }



    /* Mobile Main Nav Page*/

    h1 {
        font-size: 3em;
    }

    .NAV-Title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
    }

    .map-link {
        display: flex;
        justify-content: center;
    }

    .NAV-Map-Image {
        width: 550px;
        height: auto;
    }

    img[src^="stands/MainImg/"] {
        width: 280px;
        height: auto;
    }

    .MoreInfo {
        font-size: 25px;
        color: rgb(255, 255, 255);
        background-color: rgb(13, 78, 0);
        border: 3px solid;
        border-color: black;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 23px;
    }
    
    img[src*=".png"]:not(.JP-Header-Logo) {
        border: 5px solid darkgray;
    }

    /* .NAV-Map-Section {
        font-size:15px;
    }

    .NAV-Stand-Main {

    } */

    .NAV-Stand-Section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 500px;
    }

    .Description {
        background-color: darkgray;
        width: 200px;
        height: 330px;
        border: 2px solid black;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .NAV-Map-Description {
        background-color: darkgray;
        border: 2px solid black;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 550px;
        height: 200px;
    }

    /* Mobile Concession Stands Pages*/

    .Menu {
        width: 400px;
        height: auto;
    }

    .Cart-Image {
        width: 70px;
        height: 70px;
    }

    img[src*="Backward"] {
        width: 60px;
        height: 60px;
    }

    .Stand-Title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    img[src$=".svg"] {
        /* background-color: rgba(255, 255, 255, 0.525);*/
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        filter: invert(1);
    }

    .Image-Stand-Section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .Stand-Image {
        width: 550px;
        height: auto;
    }

    .Stand-Description {
        width: 95vw;
        height: 45vw;
        display: flex;
        justify-content: center;
    }

    .Stand-Text {
        background-color: darkgray;
        border: 2px solid black;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 165px;
    }

    /* Mobile Map Page*/

    .Map-Section {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Map-Text {
        background-color: darkgray;
        border: 2px solid black;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        width:400px;
        height:430px;
    }

    .Map-Image {
        width:550px;
        height:auto;
    }

    /* Mobile Cart Menu*/

}