.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0rem;
}

.JP-Header-About {
    max-height: 100px;
    background-color: gray;
}

.headerItem {
    display: inline-block;
    position: relative;
    font-size: 2em;
}

.headerItem::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
    border-radius: 50px;
}

.headerItem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

a {
    color: white;
}

@media only screen and (max-width:640px) {

    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0rem;
    }

    .JP-Header-About {
        max-height: 150px;
        background-color: gray;
    }

    .headerItem {
        display: inline-block;
        position: relative;
        font-size: 20px;
    }

    .headerItem::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom center;
        transition: transform 0.25s ease-out;
        border-radius: 50px;
    }

    .headerItem:hover::after {
        transform: scaleX(1);
        transform-origin: bottom center;
    }

    a:link {
        text-decoration: none;
    }


    a:visited {
        text-decoration: none;
    }


    a:hover {
        text-decoration: none;
    }


    a:active {
        text-decoration: none;
    }

    a {
        color: white;
    }
}